.searchForm {
    max-width: 100%;
    text-align: center;
    margin-top: 190px;
}

#search {
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;
    box-shadow: 50px;
}

input {
    margin-top: 30px;
}

#button, button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}


.pages {
    text-align: right;
}

.advSearch {
    margin-top: 50px;
}

label {
    margin-top: 20px;
}